<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings >
		<!--Control,Alt,Shift-->
		<add key="FunctionKey" value="Alt"/>
		<!--True,False-->
		<add key="IsKeyboardHook" value="True"/>
		<add key="ComplateHotKey" value="Q"/>
		<add key="ExitHotKey" value="Escape"/>
		<add key="ModeHotKey" value="F4"/>
		<add key="OcrImgUri" value="http://192.168.0.120:10200/ocr_img"/>
		<add key="IsLog" value="true"/>
	</appSettings>
</configuration>