<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="4.4.0" targetFramework="net48" />
  <package id="GraphX" version="3.0.0" targetFramework="net48" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.1.0" targetFramework="net48" requireReinstallation="true" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.39" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="QRCoder" version="1.4.3" targetFramework="net48" />
  <package id="QuickGraphCore" version="1.0.0" targetFramework="net48" />
  <package id="QuickGraphPCL" version="3.6.61114.2" targetFramework="net48" />
  <package id="System.Data.Common" version="4.3.0" targetFramework="net48" />
  <package id="YAXLib" version="2.14.60" targetFramework="net48" />
</packages>